<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkbox多选反选</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{checkedItems}}
        <ul>
            <li>
                <input type="checkbox" v-model="isCheckedAll" @click="allCheckboxClick"/> 
                <label>All</label>
            </li>
            <li v-for="item in fruitList" :key="item.value">
                <input type="checkbox" :value="item.value" v-model="checkedItems" /> 
                <label>{{item.name}}</label>
            </li>
        </ul>
    </div>
    <script>
        
        var app = new Vue({
            el: '#app',
            data: {
                isCheckedAll: false,
                checkedItems: [],
                fruitList: [
                    {value: '1', name: 'a'},
                    {value: '2', name: 'b'},
                    {value: '3', name: 'c'},
                    {value: '4', name: 'd'}
                ]
            },
            watch: {
                checkedItems: function(checkedItems) {
                    if (checkedItems.length === this.fruitList.length) {
                        this.isCheckedAll = true;
                    } else {
                        this.isCheckedAll = false;
                    }
                }
            },
            methods: {
                allCheckboxClick: function(){
                    if (this.isCheckedAll) {
                        this.checkedItems = [];
                    } else {
                        this.checkedItems = this.fruitList.map(item => item.value);
                    }
                }
            }
        });
    </script>
</body>
</html>